{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Articles{% endblock %}
{% block css %}{{ parent() }}
    <link href="{{ asset('css/articles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <table>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><h2><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></h2></td>
            </tr>
            <tr class="flex-center">
                <td class="user">{{ article.user }}</td>
                <td>{% if article.creationDate %}{{ article.creationDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr class="list-articles">               
                <td class="list-content">{{ article.content|striptags|truncate(1500)|raw }} <a href="{{ path('article_show', { 'id': article.id }) }}"><strong>Lire la suite</strong></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="align ajout">{% include '@App/paginationTemplate.html.twig' with {'pathOfPage':'article_index'} %}</div>
        {% if is_granted('ROLE_NATURALIST') %}
            <a href="{{ path('article_new') }}"><button class="round-xs ajout">Ajouter un article</button></a>
        {% endif %}        
   
{% endblock %}