{% extends "@App/adminLayout.html.twig" %}



{% block content %}
	<h1></h1>
	<h2>Administration des utilisateurs</h2>

	{% for user in users %}
		{% set nat = 0 %}		<!-- Variable that stores if user is naturalist, admin or normal-->
        {% if "ROLE_NATURALIST" in user.roles %}
            {% set nat = 1 %}
		{% endif %}
		{% if "ROLE_ADMIN" in user.roles %}
			{% set nat = 2 %}
		{% endif %}



		<p><!-- Start writing users here:-->

			<a href="#user-{{ user.id }}" data-toggle="collapse" class="collapser">
				<div >
					<span class="glyphicon glyphicon-chevron-right"></span>
                    {% if user.username | length > 30 %}{{ user.username | slice(0,30) }}...
                    {% else %}{{ user.username }}{% endif %}
					|
                    {% if nat == 0 %}
                        {% if user.confirmationStatus == true %}Obs (nat) {% else %}Obs {% endif %}
                    {% elseif nat == 1 %}Nat {% elseif nat == 2 %}Admin{% endif %}
				</div>


			</a>
		</p>
		<p class="collapse" id="user-{{user.id}}">
			Pseudo: {{ user.username }} <br>
			Mail: {{ user.email }} <br>
			{% if nat == 1 or nat == 2 or nat == 0 and user.confirmationStatus == true %}  <!-- if Nat or Admin -->
				Nom: {{ user.lastname}} <br>
				Prénom: {{ user.firstname }} <br>
				Date de naissance: {{ user.birth|date('d/m/Y') }} <br>
				Établissement: {{ user.institution }} <br>
			{% endif %}
			Statut: {% if nat == 0 %}
						{% if user.confirmationStatus == true %}Observateur en attente pour devenir naturaliste
						{% else %}Observateur {% endif %}
					{% elseif nat == 1 %}Naturaliste
					{% elseif nat == 2 %}Administrateur{% endif %} <br>

			<a href=""><span class="glyphicon glyphicon-lg glyphicon-envelope"></span></a>
        {% if user.confirmationStatus == true and nat==0 %}
			<button class="btn btn-sm btn-default"><a href="{{ path('admin_validate_user', {'id':user.id }) }}">Valider la demande</a></button>
		{% endif %}
		{% if (nat!=0 or user.confirmationStatus == true ) and nat != 2%}
			<button class="btn btn-sm btn-default"><a href="{{ path('admin_passobs_user', {'id':user.id }) }}">Passer en Observateur</a></button>
		{% endif %}
			<button class="btn btn-sm btn-default"><a href="{{ path('admin_delete_user', {'id':user.id }) }}">Désactiver utilisateur</a></button>

		</p>

	{% endfor %}


{% endblock %}


{% block js %}
	{{ parent() }}
	<script src={{ asset("js/admin/users.js") }}></script>
{% endblock %}