{% extends "@App/adminLayout.html.twig" %}


{% block admintitle %}<h2>Administration des utilisateurs</h2>{% endblock %}

{% block content %}

	<div class="row ">
		<div class="col-md-4 text-center">
			<h5>Administration</h5>
			<h6>Utilisateur</h6>
		</div>
	</div>
	<table>
		<tr>
			<th>Auteur</th>
			<th>Statut</th>
		</tr>
	</table>

    {% for user in users %}
		{% set nat = 0 %}		<!-- Variable that stores if user is naturalist, admin or normal-->
        {% if "ROLE_NATURALIST" in user.roles %}
            {% set nat = 1 %}
		{% endif %}
		{% if "ROLE_ADMIN" in user.roles %}
			{% set nat = 2 %}
		{% endif %}



		<p><!-- Start writing users here:-->

			<a href="#user-{{ user.id }}" data-toggle="collapse" class="collapser">
				<div >
					<span class="glyphicon glyphicon-chevron-right"></span>
					{% if user.username | length > 30 %}{{ user.username | slice(0,30) }}...
					{% else %}{{ user.username }}{% endif %}
					|
					{% if nat == 0 %}
						{% if user.confirmationStatus == true %}Obs (nat) {% else %}Obs {% endif %}
					{% elseif nat == 1 %}Nat {% elseif nat == 2 %}Admin{% endif %}
				</div>
			</a>


		</p>
		<div class="collapse row user" id="user-{{user.id}}">
			<div class="col-md-6">
				<table>
					<tr>
						<td>Pseudo: </td>
						<td>{{ user.username }} </td>
					</tr>
					<tr>
						<td>Mail: </td>
						<td>{{ user.email }} </td>
					</tr>
                    {% if nat == 1 or nat == 2 or nat == 0 and user.confirmationStatus == true %}  <!-- if Nat or Admin -->
					<tr>
						<td>Nom: </td>
						<td>{{ user.lastname}}</td>
					</tr>
					<tr>
						<td>Prénom: </td>
						<td>{{ user.firstname }}</td>
					</tr>
					<tr>
						<td>Date de naissance: </td>
						<td>{{ user.birth|date('d/m/Y') }} </td>
					</tr>
					<tr>
						<td>Établissement: </td>
						<td> {{ user.institution }}</td>
					</tr>
					<tr>
						<td>Statut: </td>
						<td>{% if nat == 0 %}
                                {% if user.confirmationStatus == true %}Observateur en attente pour devenir naturaliste
                                {% else %}Observateur {% endif %}
                            {% elseif nat == 1 %}Naturaliste
                            {% elseif nat == 2 %}Administrateur{% endif %}</td>
					</tr>

                    {% endif %}
				</table>
			</div>
			<div class="col-md-4 col-md-offset-1 global-marg-up-xs global-marg-xs">
				<div class="col-md-7">
                    {% if user.confirmationStatus == true and nat==0 %}
						<button class="btn btn-sm btn-default col-md-12"><a href="{{ path('admin_validate_user', {'id':user.id }) }}">Valider la demande</a></button>
                    {% endif %}
                    {% if (nat!=0 or user.confirmationStatus == true ) and nat != 2%}
						<button class="btn btn-sm btn-default col-md-12"><a href="{{ path('admin_passobs_user', {'id':user.id }) }}">Passer en Observateur</a></button>
                    {% endif %}
					<button class="btn btn-sm btn-default col-md-12"><a href="{{ path('admin_delete_user', {'id':user.id }) }}">Désactiver utilisateur</a></button>
				</div>
				<a href="#" class="col-md-5 text-center"><span class="glyphicon glyphicon-lg glyphicon-envelope"></span>Envoyer un mail</a>

			</div>





		</div>

	{% endfor %}
	<div class="global-marg-up-xs global-marg">
	    {% include '@App/paginationTemplate.html.twig' with {'pathOfPage':'admin_user'} %}
	</div>


{% endblock %}


{% block js %}
	{{ parent() }}
	<script src={{ asset("js/admin/users.js") }}></script>
{% endblock %}