<ul class="list-inline">
    <li><a href={{ path(pathOfPage, {
            "page" :1,
            "orderBy": param.orderBy
        }) }}>Première page</a></li>

    {% if param.page-2 > 1 %}
        <li>...</li>
    {% endif %}

    {% if param.page-2 > 0 %}
        <li><a href={{ path(pathOfPage, {
                "page" :param.page-2,
                "orderBy": param.orderBy
            }) }}>{{ param.page - 2 }}</a></li>

    {% endif %}

    {% if param.page-1 > 0 %}			<!--Page -1 -->
        <li><a href="{{ path(pathOfPage, {
                "page" :param.page-1,
                "orderBy": param.orderBy
            }) }}">	{{ param.page - 1 }}</a></li>
    {% endif %}

    <li>{{ param.page }}</li>			<!--Page actuelle -->

    {% if param.page+1 <= nombrePage %} <!--Page +1 -->
        <li><a href="{{ path(pathOfPage, {
                "page" :param.page+1,
                "orderBy": param.orderBy
            }) }}">{{ param.page +1 }}</a></li>
    {% endif %}

    {% if param.page+2 <= nombrePage %} <!--Page +2 -->
        <li><a href={{ path(pathOfPage, {
                "page" :param.page+2,
                "orderBy": param.orderBy
            }) }}>{{ param.page +2 }}</a></li>
    {% endif %}

    {% if param.page+2 < nombrePage %} <!--Page ++ beyond -->
        <li>...</li>
    {% endif %}


    <li><a href={{ path(pathOfPage, {
            "page" :nombrePage,
            "orderBy": param.orderBy
        }) }}>Dernière page</a></li>

</ul>

</ul>