{% extends "@BirdsObservations/observationLayout.html.twig" %}


{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block overallContent %}

	<div class="row">
		<div class="row global-marg">
			<div class="col-md-10">
				<h1 class="text-center">Ajoutez une observation</h1>
			</div>
		</div>
		<div class="form-group">
            {{ form_start(form) }}
			<div class="row global-marg">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-4">
						<div class="form-group global-marg-xs">
							{{ form_label(form.title,'Titre') }}
							{{ form_widget(form.title) }}
						</div>
						<div class="form-group global-marg-xs">
                            {{ form_label(form.description,'Commentaire') }}
                            {{ form_widget(form.description) }}
						</div>
						<div class="form-group global-marg-xs">
                            <table>
								<tr>
									<td>
										<label for="bird" class="control-label">Oiseau*</label>
										<select class="birdnames form-control" name="bird" id="bird">
											<option value="0">Sélectionnez un oiseau</option>
										</select>
									</td>
									<td>
										{{ form_label(form.date,'Date*') }}
										{{ form_widget(form.date) }}
									</td>
								</tr>
							</table>
						</div>
						<div class="form-group global-marg-xs">
							{{ form_label(form.image,'Image')}}
							<div hidden>{{ form_label(form.image.file)}}</div>
							{{ form_widget(form.image.file)}}
						</div>
						<div class="form-group global-marg-xs">
							{{ form_label(form.place,'Adresse*') }} <p class="btn btn-info btn-xs text-right" id="useMyPos">Utiliser ma position</p>
							{{ form_widget(form.place, {attr:{'id':'place'}}) }}

						</div>

					</div>

					<div class="col-md-6 col-md-offset-1">
						<p>Désignez le lieu de votre observation: (glisser-déposer le marqueur)</p>
                        {% block map %}{{ parent() }}{% endblock %}
						<div class="col-md-4 col-md-offset-2" hidden>
                            {{ form_row(form.latitude) }}
						</div>
						<div class="col-md-4" hidden>
                            {{ form_row(form.longitude)  }}
						</div>
					</div>

				</div>
			</div>

			<div class="row global-marg text-center col-md-10">

				<input type="submit" class="btn btn-info"/>


			</div>
            {{ form_rest(form) }}
            {{ form_end(form) }}

		</div>
	</div>



{% endblock %}

{% block js %}
	<script>var page="add"</script>

	<script src={{ asset("js/observations/positionSelector.js") }}></script> <!--Contient MapReady appelé en callback du chargement de la carte.-->
    {{ parent() }}

	<script src={{ asset("js/observations/creerObservation.js") }}></script>




{% endblock %}

