{% extends "@BirdsObservations/observationLayout.html.twig" %}

{% block overallContent %}
    {{ obs.birdname  }} par {{ obs.user.username }}
    {% if obs.date is defined %}
		{{ obs.date|date("d-m-Y") }}
	{% endif %}
    {% if obs.title is defined %}
        {{ obs.title }}
    {% endif %}
    {% if obs.description is defined %}
        {{ obs.description  }}
    {% endif %}

	{% if obs.image
        <div class="col-sm-12 col-xs-12">
		    <img src="{{ asset(obs.image.src) }}" alt={{ obs.image.alt }}/>
        </div>
    {% endif %}

    {% if is_granted("ROLE_NATURALIST") %}
        <a href="{{ path('birds_observations_remove', {'id':obs.id}) }}">Supprimer</a> <!--Si en atte-->
        <a href="{{ path('birds_observations_update', {'id':obs.id}) }}">Modifier</a><!--Si cet utilisateur-->
        {% endif %}


{% endblock %}
