{% extends "@BirdsObservations/observationLayout.html.twig" %}

{% block overallContent %}
    <div class="row">
        <div class="col-md-12 text-center global-marg-xs">
            <h2 class=text-center">Observation n°{{ obs.id }}</h2>
        </div>
        <div class="row global-marg-xs">
            <div class="col-md-offset-1 global-marg-xs">
                <div class="col-md-3 global-marg-xs">

                    <div class="global-marg-xs text-center">Auteur: {{ obs.user.username }}</div>
                    <div class="global-marg-xs text-center">Titre: "{% if obs.description == "" %}Sans titre{% else %}{{ obs.description }}{% endif %}"
                    </div>
                    <div class="global-marg-xs text-center">Nom de l'oiseau: "{{ obs.birdname }}" </div>
                    <div class="global-marg-xs text-center">
                        <p>Description:</p>
                        <textarea class="col-xs-12" rows="5" disabled> {% if obs.description == "" %}Pas de commentaire{% else %}{{ obs.description }}{% endif %}</textarea>


                    </div>
                </div>
                <div class="col-md-5 global-marg-xs">


                    {% if obs.image %}
                        <img class="col-xs-12" src="{{ asset(obs.image.src) }}" alt={{ obs.image.alt }}/>
                    {% else %}
                        <div class="row text-center">
                            <img class="col-xs-5 col-md-12" src="{{ asset('img/noPic.png') }}" alt="No image"/>
                        </div>
                    {% endif %}


                    <div class="text-center">
                        {% if obs.place != "" %}{{ obs.place }}{% else %}Lieu non spécifié{% endif %} |
                        {{ obs.date | date('d/m/Y') }} |
                        {{ obs.date | date('i:s') }}

                    </div>
                </div>
                <div class="row global-marg-xs">
                    <div class="col-md-4 ">
                        <div class="col-md-11">
                            {% block map %} {{ parent() }}{% endblock %}
                            <div class="coords" hidden>{{ obs.latitude }};{{ obs.longitude }};{{ obs.id }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row global-marg-xs">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                {% if is_granted("ROLE_NATURALIST") %}
                    <div class="col-md-6 col-xs-6 text-center">

                        <a class="btn btn-default" href="{{ path('birds_observations_remove', {'id':obs.id}) }}" >Supprimer</a>
                    </div>
                    <div class="col-md-6 col-xs-6 text-center">
                        <a class="btn btn-default" href="{{ path('birds_observations_update', {'id':obs.id}) }}" >Modifier</a>

                    </div>
                {% endif %}

            </div>

        </div>


    </div>







{% endblock %}

{% block js %}
    <script>var page="read";</script>
    <script src="{{ asset('js/observations/MapDispatcher.js') }}"></script>
    {{ parent() }}

{% endblock %}
