{% extends "@BirdsObservations/observationLayout.html.twig" %}

{% block css %}
    {{ parent() }}
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block overallContent %}
	<div class="form-group">
	<h1>Modifiez l'observation n°{{ obs.id }}</h1>

        {{ form_start(form)  }}
		<label for="bird">Oiseau:</label>
		<select class="birdnames" name="bird" id="bird">
			<option value="{{ obs.birdname }}">{{ obs.birdname }}</option>
		</select>

        {{ form_row(form.notSure, {'label':'Je ne suis pas sûr de mon observation'})   }}
        {{ form_row(form.date, {'label':'Date de l\'observation:'}) }}
		<div class="row">
			<div class="col-sm-12">
				<p>Désignez le lieu de votre observation:</p>
                {% block map %}{{ parent() }}{% endblock %}
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
                {{ form_row(form.latitude) }}
			</div>
			<div class="col-sm-4">
                {{ form_row(form.longitude)  }}
			</div>

		</div>
		<div class="row">
			<p class="btn btn-default col-sm-4 col-sm-offset-4" id="useMyPos">Utiliser ma position</p>
		</div>
		<hr>

		<div class="row">

			<div class="col-sm-6 col-xs-12">
                {% if obs.image %}
					<input type="checkbox" class="validationRequired" name="keep" checked="checked">Garder l'ancienne image</input>
				{% endif %}
				<div class="validationR">
					{{ form_row(form.image)}}

				</div>
			</div>
            {% if obs.image %}

			<div class="col-sm-6 col-xs-12">
				Image actuelle:
				<img class="col-xs-12" src="{{ asset(obs.image.src) }}" alt="{{ obs.image.alt }}">
			</div>
			{% endif %}
		</div>
        {{ form_rest(form) }}
		<input type="submit" class="btn btn-success"/>
        {{ form_end(form) }}

	</div>



{% endblock %}

{% block js %}
	<script>var page="add"</script>
    {{ parent() }}

	<script src={{ asset("js/observations/creerObservation.js") }}></script>
	<script src={{ asset("js/observations/positionSelector.js") }}></script>

	<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src={{ asset("js/observations/autocompleteBirds.js") }}></script>-->

{% endblock %}

