{% extends "@BirdsObservations/observationLayout.html.twig" %}



{% block content %}
	<div class="row">
		<h1>Validation</h1>

        {{ parent() }}
		<h3>Les observations à valider</h3>

	</div>
    {%  for obs in observations %}
		<div class="observationCointainer row" >
			<p class="col-sm-8">{{ obs.birdname }}</p>
			<p class="col-sm-2">{{ obs.user.username }}</p>
			<p class="col-sm-2">{{ obs.date | date('d-m-Y',"Europe/Paris") }}</p>
			<div class="coords" hidden>{{ obs.latitude }};{{ obs.longitude }}</div>
		</div>
    {% else %}
		Pas de résultats pour cette recherche.
    {% endfor %}

{% endblock %}

{% block js %}
	<script>var page="wait"</script>
	{{ parent() }}
	<script src="{{ asset('js/observations/MapDispatcher.js') }}"></script>

{% endblock %}