<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BirdSafari{% endblock %}</title>
    {% block css %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- include libraries(jQuery, bootstrap) -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
        <link href="{{ asset('css/mainStyle.css') }}" rel="stylesheet">
        <link href="{{ asset('css/userStyle.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo_bureau.png') }}" />

</head>
<body>
<div class="container-fluid">

    <div class="row banderole">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3 text-center mainHeaderText">


                <a href="{{ path('home') }}"><img id="logoDuSite" src="{{ asset('img/titre_header_bureauC.png') }}" alt = "Logo du site: Bird Safari"/></a>

            </div>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-sm-3 text-right global-marg-up hide-below-xs">
                <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-transp btn-sm">Connexion</button></a>
            </div>
            {% endif %}
        </div>
    </div>
    <nav class="row navbar navbar-default navbar-special" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuPrincipal">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="nav navbar-nav navbar-center">

                <li class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}col-sm-2{% else %}col-sm-3{% endif %} text-center">
                    <a href="{{ path('home') }}" class="text-center"> <!---->
                        Accueil
                    </a>
                </li>
                <li class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}col-sm-3{% else %}col-sm-3{% endif %} text-center">
                    <a href="{{ path('birds_observations') }}" class="text-center"> <!---->
                        Observations
                    </a>
                </li>


                <li class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}col-sm-3{% else %}col-sm-3{% endif %} text-center">
                    <a href="{{ path('mission') }}" class="text-center">
                        Notre mission
                    </a>
                </li>
                <li class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}col-sm-2{% else %}col-sm-3{% endif %} text-center">
                    <a href="{{ path('article_index') }}" class="text-center">
                        Articles
                    </a>
                </li>



                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown col-sm-2">
                        <a class="dropdown-toggle text-center" data-toggle="dropdown" href="#">
                            Bienvenue {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ path('fos_user_profile_show') }}" class="text-right">Profil</a></li>
                            {% if not is_granted("ROLE_ADMIN") %}<li><a href="{{ path('birds_en_attente') }}" class="text-right">En attente</a></li>{% endif %}
                            {% if is_granted("ROLE_NATURALIST") %}<li><a href="{{ path('article_myarticles') }}" class="text-right"> Mes articles</a></li>{% endif %}
                            <li><a href="{{ path('fos_user_security_logout') }}" class="text-right">Déconnexion</a></li>
                            {% if is_granted("ROLE_ADMIN") %} <li><a href="{{ path('admin') }}" class="text-center">Administration</a></li> {% endif %}
                        </ul>

                    </li>

                {% else %}
                    <li class="hide-above-xs">
                        <a href="{{ path('fos_user_security_login') }}" class="text-center">
                            Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
    {% for flashM in app.session.flashbag.get("success") %}
        <p class="flash-success">
            {{ flashM }}
        </p>
    {% endfor %}
    {% for flashM in app.session.flashbag.get("error") %}
        <p class="flash-error">
            {{ flashM }}
        </p>
    {% endfor %}

    <div id="content">
    {% block body %}{% endblock %}
    </div>
    <footer class="container-fluid bg-foot">

        {% block foot %}
            <ul class="nav navbar-nav navbar-center">
                <li class="col-sm-3 text-center">
                    <a href="{{ path('mentions') }}" class="text-center"> <!---->
                        Mentions Légales
                    </a>
                </li>
                <li class="col-sm-3 text-center">
                    <a href="{{ path('contact') }}" class="text-center"> <!---->
                        Contact
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="col-sm-3 text-center">

                    <a href="{{ path('admin') }}" class="text-center">
                        Administration
                    </a>

                </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="col-sm-3 text-center">

                        <a id="newsletterInscription" href="{{ path('fos_user_profile_edit') }}" >
                            Recevoir la newsletter
                        </a>
                    </li>
                {% else %}
                    <li class="col-sm-3 text-center">

                        <a id="newsletterInscription" href="{{ path('fos_user_registration_register') }}" >
                            Recevoir la newsletter
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </footer>

{% block js %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {
    $('#summernote').summernote();
    });
    </script>
{% endblock %}

</body>
</html>