{% trans_default_domain 'FOSUserBundle' %}
<div class="login-container">

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		<img src="{{ absolute_url(asset('img/fake_logo.svg')) }}" alt="fake_logo" height="50" class="fake_logo">
		<h1>Inscription</h1><br>

			{{ form_row(form.email) }}
			{{ form_row(form.username) }}
			{{ form_row(form.plainPassword) }}
			{{ form_row(form.acceptCgu,{'label':'form.acceptCgu'|trans}) }}
			{{ form_row(form.newsletterSubscriber,{'label':'form.newsletter_subscriber'|trans}) }}
			{{ form_row(form.confirmationStatus,{'label':'form.status'|trans} ) }}
			
			<div class="form-group" id="champsNat">
				{{ form_row(form.firstName, {'label':'form.first_name'|trans} )}}
				{{ form_row(form.lastName, {'label':'form.last_name'|trans}) }}
				{{ form_row(form.birth, {'label':'form.birth'|trans}) }}
				{{ form_row(form.institution, {'label':'form.institution'|trans}) }}
			</div>
			
			<div class="g-recaptcha" data-sitekey="6LeivjIUAAAAANwUBcnp6aM0tsjlua6jPsYoJPZn"></div>
			<div id="registration_submit">
				<input  type="submit" value="{{ 'registration.submit'|trans }}"  class="login login-submit"/>
			</div>
	{{ form_end(form) }}
</div>



