{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Observations{% endblock %}
{% block css %}{{ parent() }}{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row">


			<div class="col-sm-12 bg-observation-search text-center">
				{% block search %}
					{{ render(controller("BirdsObservationsBundle:Observation:searchBar")) }}
				{% endblock %}
			</div>




			<div class="col-sm-3 bg-observation-side">
				<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Menu</button>
                {% block sideMenu %}

					<div class="panel panel-info">
						<div class="panel-heading text-center">
							Menu des observations
						</div>
						<div class="panel-body ">


							<ul class="nav nav-pills text-center">

								<li class="col-sm-12 col-xs-4" id="allObs"><a href={{ path("birds_observations") }}>{{ "Toutes les observations"|trans }}</a></li>
								<li class="col-sm-12 col-xs-4" id="addObs"><a href={{ path("birds_observations_add") }}>{{ "Ajouter une observation"|trans }}</a></li>
								<li class="col-sm-12 col-xs-3" id="myObs"><a href={{ path("birds_my_observations") }}>{{ "Mes Observations"|trans }}</a></li>
							</ul>
						</div>
					</div>

					{% if is_granted("ROLE_NATURALIST") %}
					<div class="panel panel-info">
						<div class="panel-heading text-center">
							Naturaliste
						</div>
						<div class="panel-body ">
							<ul class="nav nav-pills text-center">
								<li class="col-sm-12 col-xs-12" id="waitingObs"><a href={{ path("birds_en_attente") }}>{{ "Observations en attente de validation"|trans }}</a></li>
							</ul>
						</div>
					</div>
					{% endif  %}
				{% endblock %}
			</div>
			<div class="col-sm-9 bg-observation-main">
				{% block overallContent %}
					<div class="col-sm-6" id="obsLayout">
						<button class="btn btn-default "><span class="glyphicon glyphicon-chevron-right"></span> Liste</button>
						{% block content %}

						{% endblock %}
					</div>
					<div class="col-sm-6" id="mapLayout">
						<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Carte</button>

                        {% block map %}
							<div id="map"></div>
						{% endblock %}
					</div>
				{% endblock %}


			</div>
		</div>
	</div>

{% endblock %}
{% block foot %}{% endblock %}
{% block js %}{{ parent() }}
	<script src="{{ asset('js/observations/mapGenerator.js') }}"></script>
	<script src="{{ asset('js/observations/mainObservationLayout.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7OxaSU742N4m30QGtTnkwb7TSoBSCzrc&callback=initMap&libraries=drawing,geometry,places" async defer></script>
	<script src="{{ asset('js/observations/searchBar.js') }}"></script>

{% endblock %}
