{% trans_default_domain 'FOSUserBundle' %}
<div class="login-container">
	<img src="{{ absolute_url(asset('img/fake_logo.svg')) }}" alt="fake_logo" height="50" class="fake_logo">
	<h3>Modifier vos informations</h3><br>

	{{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_profile_edit'}}) }}
	
		{% if user.avatar is not null %}
			<img class="a" src="{{ vich_uploader_asset(user, 'avatar') }}" alt="{{ user.avatarName }}" style="width: 100px; height: 100px;"/>
			{{ form_row(form.avatar, {'label':'form.avatar'|trans}) }}
		{% else %}
			{{ form_row(form.avatar, {'label':'form.avatar'|trans}) }}
		{% endif %}
		
		{{ form_row(form.email) }}
		{{ form_row(form.username) }}
		{{ form_row(form.plainPassword) }}
		{% if user.newsletterSubscriber is empty %}
		 {{ form_row(form.newsletterSubscriber,{'label':'form.newsletter_subscriber'|trans}) }}
       	{% endif %}
		
		{% if 'ROLE_NATURALIST' in user.roles %}
			<div class="form-group" id="champsNat">
				{{ form_row(form.firstName, {'label':'form.first_name'|trans} )}}
				{{ form_row(form.lastName, {'label':'form.last_name'|trans}) }}
				{{ form_row(form.birth, {'label':'form.birth'|trans}) }}
				{{ form_row(form.institution, {'label':'form.institution'|trans}) }}
			</div>
		{% endif %}
		
		<div class="g-recaptcha" data-sitekey="6LeivjIUAAAAANwUBcnp6aM0tsjlua6jPsYoJPZn"></div>
		<div>
			<input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-default"/>
		</div>
	{{ form_end(form) }}
</div>



