
{% trans_default_domain 'FOSUserBundle' %}


<div class="login-container">
    <img src="{{ absolute_url(asset('img/fake_logo.svg')) }}" alt="fake_logo" height="50" class="fake_logo">
	<h3>Vos informations</h3><br>
    
     {% if 'ROLE_SUPER_ADMIN' in user.roles %}
        {{ 'profile.show.admin'|trans }}
	 {% elseif 'ROLE_NATURALIST' in user.roles %}
		{{ 'profile.show.naturalist'|trans }}
		{{ 'profile.show.institution'|trans }}: {{ user.institution }}
	 {% elseif 'ROLE_OBSERVER' in user.roles %}
		{{ 'profile.show.observer'|trans }}
	 {% endif %}
   	
	<div class="profile">
			
		{% if user.avatar is not null %}
			<img class="avatar" src="{{ absolute_url(vich_uploader_asset(user, 'avatar')) }}" alt="{{ user.avatarName }}" style="width: 100px; height: 100px;"/>
		{% else %}
			<img class="avatar" src="{{ absolute_url(asset('img/nopic.jpg')) }}" alt="Avatar vide" style="width: 100px; height: 100px;"/>
		{% endif %}
		
		<div class="infos_profile" style="text-align:left;">

			<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
			<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
			<p>{{ 'profile.show.first_name'|trans }}: {{ user.firstName }}</p>
			<p>{{ 'profile.show.last_name'|trans }}: {{ user.lastName }}</p>
			<p>{{ 'profile.show.birth'|trans }}: {{ user.birth|date('d-m-Y') }}</p>

			{% if user.newsletterSubscriber is empty %}
			 {{ 'profile.show.nosubscriber'|trans }}
			{% endif %}

			<a href="{{ path('fos_user_profile_edit') }}"><input type="submit" value="{{ 'profile.show.Edit_profile'|trans }}" class="login login-submit"/></a>

		</div>
 
    </div>
</div>



