{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes articles{% endblock %}
{% block css %}{{ parent() }}
	<link href="{{ asset('css/articles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <table>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><h2><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></h2></td>
            </tr>
            <tr class="flex-center">
                <td class="user">{{ article.user }}</td>
                <td>{% if article.creationDate %}{{ article.creationDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr class="list-articles">
                {% if article.image %}
                    <td class=""><img src="{{ asset(article.image.src) }}" alt="{{ article.image.alt }}" class="size"/></td>
                {% else %}
                    <td class=""><img src="{{ asset('img/noPic.png') }}" alt="no_image" class="size"/></td>
                {% endif %}
                <td class="list-content">{{ article.content|striptags|truncate(1500) }} <a href="{{ path('article_show', { 'id': article.id }) }}"><strong>Lire la suite</strong></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="align ajout">{% include '@App/paginationTemplate.html.twig' with {'pathOfPage':'article_myarticles'} %}</div>
        
            <a href="{{ path('article_new') }}"><button class="round-xs ajout">Ajouter un article</button></a>
   
{% endblock %}
